<html ng-app = "personalSite">
    <head>
        <meta charset="UTF-8">

        <title>Luis Pinho - Awesomeness Inside</title>
        <link rel="stylesheet" href="styles/main.css" />


    </head>
    <body >
        <div class="beautyLanding"></div>

        <div class="landing-on-earth">
            <div class="greetingsTraveller">
                Greetings Traveller!
            </div>
            <div class="bossImage circular"></div>
        </div>
        <!--404 A APARECER E TIRAR O HOVER DOS-->
        <!--SECOND CENAS-->

        <div class="secondStage" scroll >
           <div class="socialNetworks" ng-controller="socialController">
                <a class="mega-anchor" href="{{social.link}}" target="_blank" title="{{social.name}}"
                ng-repeat="social in socialNetworks">
                    <div ng-if="social.animation" class="{{social.className}}" ng-mouseover="events.mouseEnter(social)" ng-class="{'facebookDisabled': !social.enable}">
                    </div>
                    <img ng-if="!social.animation" ng-src="{{social.path}}" class="{{social.className}}">
                    </img>
                    <div class="descriptionContainer" data-hover="{{social.dataHover}}">
                        <div class="socialDescription" >{{social.description}}</div>
                    </div>
                </a>
                <div class="faceError">404</div>
            </div>

        <!--<div ng-controller="navigationController" class="navigationBar" ng-class="{'fixed':onHeader}" >
            <ul>
                <li ng-repeat="item in navigationOptions">
                    <a class="navigation-option" href="#{{item.link}}" ng-click="setTab($index)">{{item.description}}</a>
                </li>
            </ul>
        </div>-->
        <div id="footer" class="footer">

        </div>
        <script src="/scripts/angular.min.js"></script>
        <script src = "src/app/app.js"></script>
    </body>

</html>
