<html ng-app = "personalSite">
    <head>
        <meta charset="UTF-8">

        <title>Luis Pinho - Awesomeness Inside</title>
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="stylesheet" href="styles/interests.scss" />

    </head>
    <body>
        <div class="beautyLanding"></div>
        <div class="landing-on-earth">
            <div class="greetingsTraveller">
                Greetings Traveller!
            </div>
        </div>

        <section class="secondStage" ng-controller="socialController" >
            <div class="bossContainer">
                <div class="bossInfo">
                    <div class="bossDescription">
                        <div class="aboutMe fontTitle">About Me</div><p/>
                        {{aboutMeInfo}}
                    </div>
                    <div class="bossImage circular"></div>
                    <div class="bossDesc">
                        <div class="bossDetails fontTitle">Info</div><br>
                        <strong>Name: </strong>
                        {{detailsAboutMe.name}}<br>
                        <strong>Age: </strong>
                        {{detailsAboutMe.age}}<br>
                        <strong>Email: </strong>
                        {{detailsAboutMe.email}}
                    </div>
                </div>
            </div>
            <div class="socialNetworks" >
                <a class="mega-anchor" href="{{social.link}}" target="_blank" title="{{social.name}}" id="{{social.id}}"
                ng-repeat="social in socialNetworks">
                    <div social ng-if="social.animation" class="{{social.className}}" ng-mouseover="events.mouseEnter(social)" ng-class="{'facebookDisabled': !social.enable}">
                    </div>
                    <img ng-if="!social.animation" ng-src="{{social.path}}" class="{{social.className}}">
                    </img>
                    <div social class="descriptionContainer" ng-mouseover="events.mouseEnter(social)">
                        <div class="socialDescriptionBefore">{{social.dataHover}}</div>
                        <div class="socialDescription">{{social.description}}</div>
                    </div>
                    <div ng-if="social.animation" ng-class="{'faceErrorAnimation': !social.enable}" class="faceError"></div>
                </a>
            </div>
        </section>
        <!--<social></social>-->

        <section class="skillzSection" ng-controller="skillzController">
            <div class="fontTitle">Skills</div>
                <div class="skillPanelContainer">
                    <li ng-repeat="skill in skillz">
                        <div class="grid awty" data-awty="skillAnim">
                            <div class="skillDescription">{{skill.description}}</div>
                            <figure class="skillList">
                                <img src="assets/{{skill.skillClass}}" alt="Cenas" class="backgroundSkill"/>
                                <figuretag>
                                    <h2><span>{{skill.father}}</span></h2>
                                    <div class="skillContainer">
                                        <p ng-repeat="cenas in skill.children">{{cenas.child}}</p>
                                    </div>
                                </figuretag>
                            </figure>
                        </div>
                    </li>
                </div>
        </section>

        <section class="interestsSection" ng-controller="interestsController">

            <div class="fontTitle">Interests</div>
            <div class="outboundField awty" data-awty="animTrue">
                <div class="outboundLines center">
                    <div class="middleLine"></div>
                    <div class="circleMid center"></div>
                    <div class="halfLeft"></div>
                    <div class="halfLeftQ"></div>
                    <div class="halfLeftQS"></div>
                    <div class="leftPen"></div>
                    <div class="halfRight"></div>
                    <div class="halfRightQ"></div>
                    <div class="halfRightQS"></div>
                    <div class="rightPen"></div>
                    <div class="ball center"></div>
                    <div class="playerTeamA teamAGK animAGK">1</div>
                    <div class="playerTeamA teamADC animADC">2</div>
                    <div class="playerTeamA teamADE animADE">4</div>
                    <div class="playerTeamA teamADD animADD">6</div>
                    <div class="playerTeamA teamAMF animAAMF">7</div>
                    <div class="playerTeamB teamBGK">1</div>
                    <div class="playerTeamB teamBDC animBDC">2</div>
                    <div class="playerTeamB teamBMF animBMF">6</div>
                    <div class="playerTeamB teamBFW animBFW">9</div>
                    <div class="playerTeamB teamBAMF animBAMF">7</div>
                </div>
            </div>

            <div class="music">
                <div class="cassetteContainer center">
                    <div class="topContainer">
                        <div class="screwLeft screw screwCross">
                            <div class="line1 center"></div>
                            <div class="line2 center"></div>
                        </div>
                        <div class="screwRight screw screwCross">
                            <div class="line1 center"></div>
                            <div class="line2 center"></div>
                        </div>
                    </div>

                    <div class="midContainer">
                        <div class="reel-maskRight"></div>
                        <div class="reel-maskLeft"></div>
                        <div class="reelBlack"></div>
                        <div class="reelBlackRight"></div>
                        <div class="topConnector"></div>
                        <div class="bottomConnector"></div>
                        <div class="label">Sonic Youth - Sister</div>
                        <div class="leftGear">
                            <div class="gearPin1"></div>
                            <div class="gearPin2"></div>
                            <div class="gearPin3"></div>
                            <div class="gearPin4"></div>

                        </div>
                        <div class="rightGear">
                            <div class="gearPin1"></div>
                            <div class="gearPin2"></div>
                            <div class="gearPin3"></div>
                            <div class="gearPin4"></div>
                        </div>
                    </div>

                    <div class="bottomContainer"> 
                        <div class="screwBLeft screw screwCross">
                            <div class="line1 center"></div>
                            <div class="line2 center"></div>
                        </div>

                        <div class="screwBRight screw screwCross">
                            <div class="line1 center"></div>
                            <div class="line2 center"></div>
                        </div>
                        <div class="railMiddle center">
                            <div class="holeLeft"></div>
                            <div class="holeRight"></div>
                            <div class="screwMiddle screw screwCross center">
                                <div class="line1 center"></div>
                                <div class="line2 center"></div>
                            </div>
                            <div class="tapePad center">
                                <div class="padContainer center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="camping">
                <div class="clouds">
                    <div class="cloud c1"></div>
                    <div class="cloud c2"></div>
                </div>
                <div class="tent">
                    <div class="triangle"></div>
                    <div class="frontEntrance"></div>
                    <div class="connector1"><div class="bend1"></div></div>
                    <div class="triangleBack"></div>
                </div>
            </div>

        </section>

        <div id="footer" class="footer">

        </div>

        <script src="/scripts/angular.min.js"></script>
        <script src="bower_components/awty/dist/awty.min.js"></script>
        <script src="src/app/app.js"></script>
        <script src="src/app/skillz/skillz.js"></script>
        <script src="src/app/social/social.js"></script>
        <script src="src/app/interests/interests.js"></script>
    </body>

</html>