.interestsSection {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: 100px;
  text-align: center; }

.outboundField {
  margin-top: 100px;
  width: 500px;
  height: 250px;
  background-color: #526F35;
  position: relative; }
  .outboundField .outboundLines {
    width: 490px;
    height: 240px;
    background-color: #526F35;
    border-style: solid;
    border-color: white;
    margin: auto; }
  .outboundField .middleLine {
    height: 100%;
    width: 0px;
    background-color: #526F35;
    border-style: solid;
    border-color: white;
    border-radius: 1px;
    margin-left: 20px;
    margin: 0 auto; }
  .outboundField .circleMid {
    background-color: #526F35;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    z-index: -1; }
  .outboundField .halfLeft {
    height: 45px;
    width: 22.5px;
    border-radius: 0 90px 90px 0;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    left: 8%; }
  .outboundField .halfLeftQ {
    height: 90px;
    width: 45px;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    left: 0%; }
  .outboundField .halfLeftQS {
    height: 50px;
    width: 20px;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    left: 0%; }
  .outboundField .leftPen {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    left: 6%; }
  .outboundField .halfRight {
    height: 45px;
    width: 22.5px;
    border-radius: 90px 0 0 90px;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    right: 8%; }
  .outboundField .halfRightQ {
    height: 90px;
    width: 45px;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    right: 0%; }
  .outboundField .halfRightQS {
    height: 50px;
    width: 20px;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    right: 0%; }
  .outboundField .rightPen {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: #526F35;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    right: 6%; }
  .outboundField .ball {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6), 15px 15px 2px rgba(0, 0, 0, 0.04);
    position: absolute;
    z-index: 1; }

.animTrue .ball {
  -webkit-animation: move 10s 1 forwards infinite;
  -ms-animation: move 10s 1 forwards infinite;
  animation: move 10s 1 forwards infinite; }

@-webkit-keyframes move {
  10% {
    top: 140px;
    left: 65%; }

  25% {
    top: 55px;
    left: 65%;
    -webkit-animation-timing-function: ease-out; }

  35% {
    top: 60px;
    left: 74%;
    -webkit-animation-timing-function: ease-out; }

  50% {
    top: 160px;
    left: 35%;
    -webkit-animation-timing-function: ease-out; }

  65% {
    top: 100px;
    left: 10%;
    -webkit-animation-timing-function: ease-out; }

  70% {
    top: 140px;
    left: 0%;
    -webkit-animation-timing-function: ease-in; }

  100% {
    top: 140px;
    left: 0%;
    -webkit-animation-timing-function: ease-out; } }

.animTrue .animBFW {
  -webkit-animation: moveBFW 10s 1 forwards infinite;
  -oz-animation: moveBFW 10s 1 forwards infinite;
  -ms-animation: moveBFW 10s 1 forwards infinite;
  animation: moveBFW 10s 1 forwards infinite; }

@-webkit-keyframes moveBFW {

  25% {
    top: 45%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  100% {
    top: 35%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

.animTrue .animBDC {
  -webkit-animation: moveBDC 10s 1 forwards infinite;
  -ms-animation: moveBDC 10s 1 forwards infinite;
  animation: moveBDC 10s 1 forwards infinite; }

@-webkit-keyframes moveBDC {

  40% {
    top: 50px;
    left: 75%; }

  100% {
    top: 50px;
    left: 75%; } }

.animTrue .animBMF {
  -webkit-animation: moveBMF 10s 1 forwards infinite;
  -ms-animation: moveBMF 10s 1 forwards infinite;
  animation: moveBMF 10s 1 forwards infinite; }

@-webkit-keyframes moveBMF {
  0% {
    -webkit-animation-timing-function: ease-in; }

  50% {
    top: 160px;
    left: 35%; }

  100% {
    top: 160px;
    left: 30%; } }

.animTrue .animBAMF {
  -webkit-animation: moveBAMF 10s 1 forwards infinite;
  -ms-animation: moveBAMF 10s 1 forwards infinite;
  animation: moveBAMF 10s 1 forwards infinite; }

@-webkit-keyframes moveBAMF {
  0% {
    -webkit-animation-timing-function: ease-in; }

  22% {
    top: 28px;
    left: 60%; }

  100% {
    top: 28px;
    left: 50%; } }

.animTrue .animAGK {
  -webkit-animation: moveAGK 10s 1 forwards infinite;
  -ms-animation: moveAGK 10s 1 forwards infinite;
  animation: moveAGK 10s 1 forwards infinite; }

@-webkit-keyframes moveAGK {
  0% {
    -webkit-animation-timing-function: ease-in; }

  60% {
    top: 100px;
    left: 1%; }

  70% {
    top: 80px;
    left: 1%; }

  100% {
    top: 80px;
    left: 1%; } }

.animTrue .animAAMF {
  -webkit-animation: moveAAMF 10s 1 forwards infinite;
  -ms-animation: moveAAMF 10s 1 forwards infinite;
  animation: moveAAMF 10s 1 forwards infinite; }

@-webkit-keyframes moveAAMF {
  0% {
    -webkit-animation-timing-function: ease-in; }

  25% {
    top: 140px;
    left: 55%; }

  100% {
    top: 80px;
    left: 65%; } }

.animTrue .animADE {
  -webkit-animation: moveADE 10s 1 forwards infinite;
  -ms-animation: moveADE 10s 1 forwards infinite;
  animation: moveADE 10s 1 forwards infinite; }

@-webkit-keyframes moveADE {
  0% {
    -webkit-animation-timing-function: ease-in; }

  25% {
    top: 160px;
    left: 45%; }

  100% {
    top: 160px;
    left: 35%; } }

.animTrue .animADD {
  -webkit-animation: moveADD 10s 1 forwards infinite;
  -ms-animation: moveADD 10s 1 forwards infinite;
  animation: moveADD 10s 1 forwards infinite; }

@-webkit-keyframes moveADD {
  0% {
    -webkit-animation-timing-function: ease-in; }

  35% {
    top: 20px;
    left: 35%; }

  100% {
    top: 20px;
    left: 45%; } }

.animTrue .animADC {
  -webkit-animation: moveADC 10s 1 forwards infinite;
  -ms-animation: moveADC 10s 1 forwards infinite;
  animation: moveADC 10s 1 forwards infinite; }

@-webkit-keyframes moveADC {
  0% {
    -webkit-animation-timing-function: ease-in; }

  50% {
    top: 100px;
    left: 15%; }

  60% {
    top: 80px;
    left: 22%; }

  100% {
    top: 80px;
    left: 15%; } }

.playerTeamA {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #bf0000;
  color: white; }

.playerTeamB {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 50%;
  background: #0040ff;
  color: white; }

.teamAGK {
  top: 100px;
  left: 1%; }

.teamADC {
  top: 100px;
  left: 15%; }

.teamADD {
  top: 20px;
  left: 15%; }

.teamADE {
  top: 180px;
  left: 15%; }

.teamAMF {
  top: 100px;
  left: 35%; }

.teamBGK {
  top: 100px;
  left: 94%; }

.teamBDC {
  top: 100px;
  left: 84%; }

.teamBMF {
  top: 150px;
  left: 65%; }

.teamBAMF {
  top: 50px;
  left: 65%; }

.teamBFW {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@font-face {
  font-family: "JustAnotherHandRegular";
  src: url("../assets/ColorsOfAutumn.ttf"); }

.music {
  position: relative;
  margin-top: -130px;
  margin-left: 70%; }
  .music .cassetteContainer {
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 12px;
    background-color: grey; }
    .music .cassetteContainer .topContainer {
      position: relative;
      width: 100%;
      height: 30px;
      background-color: white;
      opacity: 0.3; }
      .music .cassetteContainer .topContainer .screwLeft {
        margin-left: 2%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .music .cassetteContainer .topContainer .screwRight {
        margin-left: 94%;
        margin-top: -2%; }
    .music .cassetteContainer .midContainer .leftGear {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: grey;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 25%; }
    .music .cassetteContainer .midContainer .reelBlack {
      position: absolute;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: black;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 8%; }
    .music .cassetteContainer .midContainer .label {
      position: absolute;
      top: 65%;
      left: 11%;
      width: 78.5%;
      height: 16%;
      background-color: white;
      border-radius: 5px;
      text-indent: 0.25em;
      font: normal 36px JustAnotherHandRegular, helvetica, sans-serif;
      line-height: 140%;
      color: #111;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      z-index: 6;
      opacity: 0.8; }
    .music .cassetteContainer .midContainer .topConnector {
      position: absolute;
      width: 180px;
      height: 2px;
      background-color: black;
      left: 22%;
      top: 17%;
      -webkit-transform: rotate(24deg) translate(40%, 60%);
          -ms-transform: rotate(24deg) translate(40%, 60%);
              transform: rotate(24deg) translate(40%, 60%); }
    .music .cassetteContainer .midContainer .bottomConnector {
      position: absolute;
      width: 180px;
      height: 2px;
      background-color: black;
      left: 22%;
      top: 81%;
      -webkit-transform: rotate(-24deg) translate(40%, 60%);
          -ms-transform: rotate(-24deg) translate(40%, 60%);
              transform: rotate(-24deg) translate(40%, 60%); }
    .music .cassetteContainer .midContainer .reelBlackRight {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: black;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      right: 22%; }
    .music .cassetteContainer .midContainer .reel-maskRight {
      position: absolute;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: white;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      right: 0;
      left: 43.7%; }
    .music .cassetteContainer .midContainer .reel-maskLeft {
      position: absolute;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: white;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 8%; }
    .music .cassetteContainer .midContainer .gearPin1 {
      width: 10px;
      height: 10px;
      background-color: white;
      -webkit-transform: rotate(39deg) translate(60%);
          -ms-transform: rotate(39deg) translate(60%);
              transform: rotate(39deg) translate(60%); }
    .music .cassetteContainer .midContainer .gearPin2 {
      width: 10px;
      height: 10px;
      float: right;
      background-color: white;
      -webkit-transform: rotate(39deg) translate(-70%, -19%);
          -ms-transform: rotate(39deg) translate(-70%, -19%);
              transform: rotate(39deg) translate(-70%, -19%); }
    .music .cassetteContainer .midContainer .gearPin3 {
      width: 10px;
      height: 10px;
      background-color: white;
      -webkit-transform: rotate(39deg) translate(300%, 250%);
          -ms-transform: rotate(39deg) translate(300%, 250%);
              transform: rotate(39deg) translate(300%, 250%); }
    .music .cassetteContainer .midContainer .gearPin4 {
      width: 10px;
      height: 10px;
      background-color: white;
      -webkit-transform: rotate(39deg) translate(520%, -100%);
          -ms-transform: rotate(39deg) translate(520%, -100%);
              transform: rotate(39deg) translate(520%, -100%); }
    .music .cassetteContainer .midContainer .rightGear {
      position: absolute;
      right: 25%;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: grey;
      border: 5px solid white;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .music .cassetteContainer .bottomContainer {
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: white;
      opacity: 0.3;
      bottom: 0px; }
      .music .cassetteContainer .bottomContainer .screwBLeft {
        margin-top: 5%;
        margin-left: 1%; }
      .music .cassetteContainer .bottomContainer .screwBRight {
        margin-top: -3%;
        margin-left: 96%; }
      .music .cassetteContainer .bottomContainer .railMiddle {
        opacity: 0.5;
        border-bottom: 50px solid grey;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 300px; }
      .music .cassetteContainer .bottomContainer .holeLeft {
        position: relative;
        opacity: 1;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        margin-top: 30px;
        float: left; }
      .music .cassetteContainer .bottomContainer .holeRight {
        position: relative;
        opacity: 1;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        margin-top: 28px;
        float: right; }
      .music .cassetteContainer .bottomContainer .screwMiddle {
        opacity: 1;
        top: 10px; }
      .music .cassetteContainer .bottomContainer .tapePad {
        position: relative;
        width: 70px;
        height: 20px;
        background-color: black;
        bottom: 0;
        top: 80%; }
        .music .cassetteContainer .bottomContainer .tapePad .padContainer {
          width: 40px;
          height: 10px;
          background-color: white;
          bottom: 0;
          top: 80%; }

.screwCross .line1 {
  height: 7px;
  width: 1px;
  background-color: white; }
.screwCross .line2 {
  height: 1px;
  width: 7px;
  background-color: white; }

.screw {
  position: relative;
  opacity: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black; }

/* Common style */
.skillzSection {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-top: 100px;
  list-style: none; }

.grid {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 3em 0 0 0;
  text-align: center;
  opacity: 1; }

.skillPanelContainer li:nth-child(even) {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%; }
  .skillPanelContainer li:nth-child(even) .skillDescription {
    text-align: left;
    float: right;
    width: 50%;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 4%; }
  .skillPanelContainer li:nth-child(even) .skillList {
    float: left; }

.skillPanelContainer li:nth-child(odd) {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%; }
  .skillPanelContainer li:nth-child(odd) .skillDescription {
    text-align: left;
    float: left;
    width: 50%;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 4%; }
  .skillPanelContainer li:nth-child(odd) .skillList {
    float: right; }

.grid figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: -0.135em;
  width: 300px;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1, #FFFFFF), color-stop(0.4, #000000));
  text-align: center;
  cursor: pointer;
  float: left; }

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.grid figure figuretag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure h2, .grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

.skillList {
  background: -webkit-linear-gradient(top, #258dc8 0%, #683c13 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #683c13 100%); }

.skillList img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

.skillList:hover img {
  opacity: 0.4; }

.skillList:hover figuretag::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.skillList figuretag {
  padding: 3em;
  text-align: left; }

.skillContainer {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.skillList p {
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

.skillList:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 70px, 0); }

.skillAnim {
  -webkit-animation: skillAnimKeyframe 1s linear;
          animation: skillAnimKeyframe 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

@-webkit-keyframes skillAnimKeyframe {
  100% {
    opacity: 1; } }

@keyframes skillAnimKeyframe {
  100% {
    opacity: 1; } }

* {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:after, *::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.beautyLanding {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  position: relative; }
  .beautyLanding .landingContainer {
    position: fixed;
    width: 190px;
    height: 300px;
    margin-left: -1.9%; }
    .beautyLanding .landingContainer .landingMe {
      background-image: url(/assets/eu.png);
      background-repeat: no-repeat;
      height: 170px;
      width: 50px;
      background-position: center;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 29.5%;
      -webkit-animation: blink 6s linear infinite;
      -moz-animation: blink 6s linear infinite;
      -o-animation: blink 6s linear infinite; }
    .beautyLanding .landingContainer .landingInfo {
      position: absolute;
      display: block;
      font-family: 'Droid Sans', sans-serif;
      font-size: 40px;
      text-align: left;
      left: 90%; }
  .beautyLanding .arrowDownContainer {
    height: 80px;
    width: 110px;
    position: absolute;
    background-color: black;
    text-align: center;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    -webkit-animation: appearArrow 1s linear;
    -moz-animation: appearArrow 1s linear;
    -o-animation: appearArrow 1s linear; }
  .beautyLanding .arrowDownContainerHidden {
    opacity: 0;
    -webkit-animation: disappearArrow 1s linear;
    -moz-animation: disappearArrow 1s linear;
    -o-animation: disappearArrow 1s linear; }
  .beautyLanding .arrowLeft {
    position: absolute;
    background: white;
    width: 40px;
    height: 10px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    left: 20px; }
  .beautyLanding .arrowRight {
    position: absolute;
    background: white;
    width: 40px;
    height: 10px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
    -moz-transform: rotate(40deg);
    left: 45px; }
  .beautyLanding .fixedMe {
    position: fixed;
    width: 300px;
    height: 300px;
    opacity: 0; }

@-webkit-keyframes appearArrow {
  0% {
    opacity: 0; }

  20% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes disappearArrow {
  0% {
    opacity: 1; }

  20% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes blink {
  0% {
    background-image: url(/assets/eu.png); }

  28% {
    background-image: url(/assets/eu.png); }

  30% {
    background-image: url(/assets/euBlink.png); }

  32% {
    background-image: url(/assets/eu.png); }

  100% {
    background-image: url(/assets/eu.png); } }

.bossContainer {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  margin-top: 3%; }
  .bossContainer .bossInfo {
    margin-right: 200px;
    margin-left: 200px; }
    .bossContainer .bossInfo .bossDescription {
      float: left;
      width: 20%;
      margin-left: 20%; }
    .bossContainer .bossInfo .bossDesc {
      float: left;
      width: 20%;
      margin-left: 22%; }
    .bossContainer .bossInfo .circular {
      width: 280px;
      height: 280px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
    .bossContainer .bossInfo .bossImage {
      float: left;
      margin-left: auto;
      margin-right: auto;
      opacity: 0; }
    .bossContainer .bossInfo .imageFixed {
      position: absolute;
      width: 190px;
      height: 300px;
      opacity: 0;
      float: left;
      margin-left: 34.5%;
      margin-top: -3px;
      display: block; }
      .bossContainer .bossInfo .imageFixed .landingMeFixed {
        background-image: url(/assets/eu.png);
        background-repeat: no-repeat;
        height: 170px;
        width: 50px;
        background-position: center;
        position: absolute;
        top: 30%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-animation: blink 6s linear infinite;
        -moz-animation: blink 6s linear infinite;
        -o-animation: blink 6s linear infinite; }
      .bossContainer .bossInfo .imageFixed .landingInfoFixed {
        position: absolute;
        display: block;
        font-family: 'Droid Sans', sans-serif;
        font-size: 40px;
        text-align: left;
        top: 14%;
        left: 31.4%; }
    .bossContainer .bossInfo .landingMeOpa {
      opacity: 1; }

.fontTitle {
  font-size: 30px;
  border-bottom: 2px solid black; }

.secondStage {
  position: relative;
  margin-top: 50px; }

.socialNetworks {
  margin-top: 50px;
  height: auto;
  text-align: center; }
  .socialNetworks .mega-anchor {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 129px; }
    .socialNetworks .mega-anchor .socialIcon {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: gray;
              filter: gray;
      /* IE6-9 */
      height: 50px;
      opacity: 0.7;
      -webkit-opacity: 0.7;
      -moz-opacity: 0.7;
      cursor: pointer; }
    .socialNetworks .mega-anchor .facebookIcon {
      background-image: url('/assets/facebook.png');
      background-repeat: no-repeat;
      background-size: 50%;
      width: 50px;
      display: inline-block;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: gray;
              filter: gray;
      /* IE6-9 */
      height: 50px;
      opacity: 0.7;
      -webkit-opacity: 0.7;
      -moz-opacity: 0.7;
      cursor: default; }
    .socialNetworks .mega-anchor .facebookDisabled {
      -webkit-animation: disappearAnim 1s linear;
              animation: disappearAnim 1s linear;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards; }
    .socialNetworks .mega-anchor .descriptionContainer {
      position: relative;
      z-index: 1;
      overflow: hidden;
      margin: 0 15px; }
      .socialNetworks .mega-anchor .descriptionContainer .socialDescription {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        padding: 10px 20px;
        background: white;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s; }
    .socialNetworks .mega-anchor .socialDescriptionBefore {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 30px 20px;
      width: 100%;
      background: #fff;
      color: #0f7c67;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%); }
    .socialNetworks .mega-anchor .fixedFace .socialDescriptionBefore {
      -webkit-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
          transform: translateX(-7%); }
    .socialNetworks .mega-anchor .fixedFace .socialDescription {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

@-webkit-keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1; } }

@keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1; } }

@-webkit-keyframes errorAnim {
  40% {
    opacity: 0;
    width: 100px;
    height: 100px; }

  100% {
    bottom: 180px;
    opacity: 1;
    width: 100px;
    height: 100px; } }

@keyframes errorAnim {
  40% {
    opacity: 0;
    width: 100px;
    height: 100px; }

  100% {
    bottom: 180px;
    opacity: 1;
    width: 100px;
    height: 100px; } }

.faceError {
  margin-left: 60px;
  bottom: 150px;
  opacity: 0;
  position: relative;
  z-index: 1;
  background-image: url('/assets/idontlike.png');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: gray;
          filter: gray;
  /* IE6-9 */
  cursor: default; }

.secondStage .socialNetworks .faceErrorAnimation {
  -webkit-animation: errorAnim 1s linear;
          animation: errorAnim 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.mega-anchor:hover .socialDescription {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
      transform: translateX(100%); }

.mega-anchor:hover .socialIcon {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); }

.mega-anchor:hover .socialDescriptionBefore {
  -webkit-transform: translateX(1%);
  -ms-transform: translateX(1%);
      transform: translateX(1%); }

.footer {
  position: absolute;
  height: 150px;
  background-color: grey; }

.camping {
  position: relative;
  width: 900px;
  top: 90%;
  left: 25%; }
  .camping .clouds {
    padding: 100px 0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%); }
    .camping .clouds .cloud {
      width: 200px;
      height: 60px;
      background: #fff;
      border-radius: 200px;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      position: relative; }
    .camping .clouds .cloud:before, .camping .clouds .cloud:after {
      content: '';
      position: absolute;
      background: #fff;
      width: 100px;
      height: 80px;
      position: absolute;
      top: -15px;
      left: 10px;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
      -moz-transform: rotate(30deg); }
    .camping .clouds .cloud:after {
      width: 120px;
      height: 120px;
      top: -55px;
      left: auto;
      right: 15px; }
  .camping .tent {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0; }
    .camping .tent .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid blue; }
    .camping .tent .triangleBack {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      margin-left: 150px; }
    .camping .tent .frontEntrance {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 100px solid black;
      left: 15%; }
    .camping .tent .connector1 {
      position: absolute;
      margin-left: 50px;
      width: 150px;
      height: 100px;
      background-color: red;
      z-index: -1; }
      .camping .tent .connector1 .bend1 {
        position: absolute;
        width: 149px;
        height: 25px;
        background-color: white;
        border-radius: 50%;
        margin-top: -10%; }

.c1 {
  -webkit-animation: moveclouds 12s linear infinite;
  -moz-animation: moveclouds 12s linear infinite;
  -o-animation: moveclouds 12s linear infinite; }

.c2 {
  left: -200px;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px; }

  100% {
    margin-left: -1000px; } }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media screen and (max-width: 1500px) {
  .bossImage {
    display: none; }
  .socialIcon {
    height: 50px;
    margin: 100px 10px; }
  .facebookIcon {
    height: 50px;
    background-size: contain;
    background-position: center;
    margin: 100px 10px; }
  .faceError {
    display: none; }
  .skillzSection {
    display: none; } }

/* Common style */
.skillzSection {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-top: 100px;
  list-style: none; }

.grid {
  position: relative;
  margin: 0;
  padding: 3em 0 0 0;
  text-align: center;
  opacity: 1;
  height: 350px; }

.skillPanelContainer li:nth-child(even) {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%; }
  .skillPanelContainer li:nth-child(even) .skillDescription {
    text-align: left;
    float: right;
    width: 50%;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 4%;
    opacity: 0; }
  .skillPanelContainer li:nth-child(even) .skillList {
    float: left; }

.skillPanelContainer li:nth-child(odd) {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%; }
  .skillPanelContainer li:nth-child(odd) .skillDescription {
    text-align: left;
    float: left;
    width: 50%;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 4%;
    opacity: 0; }
  .skillPanelContainer li:nth-child(odd) .skillList {
    float: right; }

.grid figure {
  position: absolute;
  z-index: 1;
  margin: -0.135em;
  width: 300px;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1, #FFFFFF), color-stop(0.4, #000000));
  text-align: center;
  cursor: pointer;
  float: left;
  margin-left: 30%; }

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.grid figure figuretag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure h2, .grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

.skillList {
  background: -webkit-linear-gradient(top, #258dc8 0%, #683c13 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #683c13 100%); }

.skillList img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

.skillList:hover img {
  opacity: 0.4; }

.skillList:hover figuretag::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.skillList figuretag {
  padding: 3em;
  text-align: left; }

.skillContainer {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.skillList p {
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

.skillList:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 70px, 0); }

.skillAnim {
  -webkit-animation: skillAnimKeyframe 1s linear;
          animation: skillAnimKeyframe 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.skillPanelContainer li:nth-child(even).moveSkill .appearDescrip {
  -webkit-animation: appearDescripAnim 1s linear;
          animation: appearDescripAnim 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.skillPanelContainer li:nth-child(odd).moveSkill .appearDescrip {
  -webkit-animation: appearDescripAnim 1s linear;
          animation: appearDescripAnim 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.skillPanelContainer li:nth-child(even).moveSkill figure {
  -webkit-animation: moveSkillFrame 0.5s linear;
          animation: moveSkillFrame 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.skillPanelContainer li:nth-child(odd).moveSkill figure {
  -webkit-animation: moveSkillFrame2 0.5s linear;
          animation: moveSkillFrame2 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

@-webkit-keyframes moveSkillFrame {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%); }

  100% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); } }

@keyframes moveSkillFrame {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%); }

  100% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); } }

@-webkit-keyframes moveSkillFrame2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  50% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%); }

  100% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%); } }

@keyframes moveSkillFrame2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  50% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%); }

  100% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%); } }

@-webkit-keyframes appearDescripAnim {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes appearDescripAnim {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes skillAnimKeyframe {
  100% {
    opacity: 1; } }
