* {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; }

*:after, *::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.landing-on-earth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.beautyLanding {
  background-image: url(/assets/back2.jpg);
  /* For WebKit*/
  /* Mozilla*/
  /* Opera*/
  background-size: cover;
  /* Generic*/
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.6;
  -webkit-filter: blur(1px);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }

.greetingsTraveller {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 180%;
  font-size: 240%;
  height: 4% auto;
  background-color: #ffffff;
  opacity: 0.8; }

.bossContainer {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  margin-top: 3%; }
  .bossContainer .bossInfo {
    margin-right: 200px;
    margin-left: 200px; }
    .bossContainer .bossInfo .bossDescription {
      float: left;
      width: 20%;
      margin-left: 20%; }
    .bossContainer .bossInfo .bossDesc {
      float: left;
      width: 20%;
      margin-left: 20px; }
    .bossContainer .bossInfo .circular {
      width: 280px;
      height: 280px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
    .bossContainer .bossInfo .bossImage {
      background-image: url(/assets/back6.jpg);
      background-size: 160%;
      background-position: 55% 26%;
      float: left;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      margin-left: auto;
      margin-right: auto; }
    .bossContainer .bossInfo .bossImage:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -webkit-filter: none;
      /* Older versions of webkit */
      -moz-filter: none;
      -ms-filter: none;
      /* IE 10 */
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); }

.fontTitle {
  font-size: 30px;
  border-bottom: 2px solid black; }

.secondStage {
  position: relative; }

.socialNetworks {
  margin-top: 50px;
  height: auto;
  text-align: center; }
  .socialNetworks .mega-anchor {
    display: inline-block;
    text-decoration: none;
    color: black; }
    .socialNetworks .mega-anchor .socialIcon {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: gray;
              filter: gray;
      /* IE6-9 */
      height: 50px;
      opacity: 0.7;
      -webkit-opacity: 0.7;
      -moz-opacity: 0.7;
      cursor: pointer; }
    .socialNetworks .mega-anchor .facebookIcon {
      background-image: url('/assets/facebook.png');
      background-repeat: no-repeat;
      background-size: 50%;
      width: 50px;
      display: inline-block;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: gray;
              filter: gray;
      /* IE6-9 */
      height: 50px;
      opacity: 0.7;
      -webkit-opacity: 0.7;
      -moz-opacity: 0.7;
      cursor: default; }
    .socialNetworks .mega-anchor .facebookDisabled {
      -webkit-animation: disappearAnim 1s linear;
              animation: disappearAnim 1s linear;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards; }
    .socialNetworks .mega-anchor .descriptionContainer {
      position: relative;
      z-index: 1;
      overflow: hidden;
      margin: 0 15px; }
      .socialNetworks .mega-anchor .descriptionContainer .socialDescription {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        padding: 10px 20px;
        background: #e6e6e6;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        box-shadow: inset 0 0 5px #000000; }
    .socialNetworks .mega-anchor .socialDescriptionBefore {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 30px 20px;
      width: 100%;
      height: 100%;
      background: #fff;
      color: #0f7c67;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%); }
    .socialNetworks .mega-anchor .fixedFace .socialDescriptionBefore {
      -webkit-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
          transform: translateX(-7%); }
    .socialNetworks .mega-anchor .fixedFace .socialDescription {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

@-webkit-keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1; } }

@keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1; } }

@-webkit-keyframes errorAnim {
  50% {
    opacity: 0;
    width: 100px;
    height: 100px; }

  100% {
    bottom: 90px;
    opacity: 1;
    width: 100px;
    height: 100px; } }

@keyframes errorAnim {
  50% {
    opacity: 0;
    width: 100px;
    height: 100px; }

  100% {
    bottom: 90px;
    opacity: 1;
    width: 100px;
    height: 100px; } }

.faceError {
  display: inline-block;
  margin-left: -60px;
  bottom: 50px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  background-image: url('/assets/idontlike.png');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: gray;
          filter: gray;
  /* IE6-9 */
  cursor: default; }

.secondStage .socialNetworks .faceErrorAnimation {
  -webkit-animation: errorAnim 1s linear;
          animation: errorAnim 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; }

.mega-anchor:hover .socialDescription {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
      transform: translateX(100%); }

.mega-anchor:hover .socialIcon {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); }

.mega-anchor:hover .socialDescriptionBefore {
  -webkit-transform: translateX(-7%);
  -ms-transform: translateX(-7%);
      transform: translateX(-7%); }

.cenas:hover .facebookIcon {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); }

@media screen and (max-width: 1500px) {
  .socialIcon {
    height: 50px;
    margin: 100px 10px; }
  .facebookIcon {
    height: 50px;
    background-size: contain;
    background-position: center;
    margin: 100px 10px; } }
