@import "../src/app/interests/interests.scss";
@import "../src/app/skillz/skills.scss";

* {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

.body {
    box-sizing: border-box;
}

.landing-on-earth {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.beautyLanding{
    background-image:url(/assets/back2.jpg);
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.6;
    -webkit-filter: blur(1px);
    position:relative;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

}

.greetingsTraveller {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 180%;
    font-size: 240%;
    height: 4% auto;
    background-color: #ffffff;
    opacity: 0.8;
}


//About me

.bossContainer {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-top: 3%;

    .bossInfo {
        margin-right: 200px;
        margin-left: 200px;

        .bossDescription {
            float: left;
            width: 20%;
            margin-left: 20%;
        }

        .bossDesc {
            float: left;
            width: 20%;
            margin-left: 20px;
        }

        .circular {
            width: 280px;
            height: 280px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        }

        .bossImage {
            background-image:url(/assets/back6.jpg);
            background-size: 160%;
            background-position: 55% 26%;
            float: left;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.fontTitle {
    font-size: 30px;
    border-bottom: 2px solid black;
}

.secondStage {
    position: relative;
    margin-top: 50px;
}

.socialNetworks {
    margin-top: 50px;
    height: auto;
    text-align: center;

    .mega-anchor {
        display: inline-block;
        text-decoration: none;
        color:black;
        height: 129px;

        .socialIcon {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray; /* IE6-9 */
            height: 50px;
            opacity: 0.7;
            -webkit-opacity: 0.7;
            -moz-opacity: 0.7;
            cursor: pointer;
        }

        .facebookIcon {
            background-image: url('/assets/facebook.png');
            background-repeat: no-repeat;
            background-size: 50%;
            width: 50px;
            display: inline-block;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray; /* IE6-9 */
            height: 50px;
            opacity: 0.7;
            -webkit-opacity: 0.7;
            -moz-opacity: 0.7;
            cursor: default;
        }

        .facebookDisabled {
           animation: disappearAnim 1s linear;
           -webkit-animation-fill-mode: forwards;
           -moz-animation-fill-mode: forwards;
        }

        .descriptionContainer {
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin: 0 15px;

            .socialDescription {
                margin-top: 20px;
                margin-bottom: 20px;
                display: block;
                padding: 10px 20px;
                background: white;
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
            }
        }

        .socialDescriptionBefore {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 30px 20px;
            width: 100%;
            //height: 100%;
            background: #fff;
            color: #0f7c67;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform: translateX(-25%);
        }

        .fixedFace .socialDescriptionBefore {
            -webkit-transform: translateX(-7%);
            -moz-transform: translateX(-7%);
            transform: translateX(-7%);
        }

        .fixedFace .socialDescription {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

@keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1;
  }
}

@keyframes errorAnim {
  40% {
    opacity: 0;
    width: 100px;
    height: 100px;

    }
  100% {
    bottom: 180px;
    opacity: 1;
    width: 100px;
    height: 100px;
  }
}

.faceError{
    margin-left: 60px;
    bottom: 150px;
    opacity: 0;
    position: relative;
    z-index: 1;

    background-image: url('/assets/idontlike.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    cursor: default;
}

.secondStage .socialNetworks .faceErrorAnimation {
    animation: errorAnim 1s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.mega-anchor:hover .socialDescription {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

.mega-anchor:hover .socialIcon {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.mega-anchor:hover .socialDescriptionBefore {
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    transform: translateX(1%);
}

.footer {
    position: absolute;
    height: 150px;
    background-color: grey;
}

.camping {
    position: relative;
    width: 900px;
    top: 90%;
    left: 25%;

    .clouds {
        padding: 100px 0;
        background: #c9dbe9;
        background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);

        .cloud {
            width: 200px; height: 60px;
            background: #fff;
            
            border-radius: 200px;
            -moz-border-radius: 200px;
            -webkit-border-radius: 200px;
            
            position: relative; 
        }

        .cloud:before, .cloud:after {
            content: '';
            position: absolute; 
            background: #fff;
            width: 100px; height: 80px;
            position: absolute; top: -15px; left: 10px;
            
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -moz-transform: rotate(30deg);
        }

        .cloud:after {
            width: 120px; height: 120px;
            top: -55px; left: auto; right: 15px;
        }
    }

    .tent {
        position: absolute;
        width: 300px;
        height: 300px;
        right: 0;

        .triangle {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid blue;
            //z-index: 1;
        }

        .triangleBack {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid red;
            margin-left: 150px;
        }

        .frontEntrance {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 100px solid black;
            left: 15%;
        }

        .connector1 {
            position: absolute;
            margin-left: 50px;
            width: 150px;
            height: 100px;
            background-color: red;    
            z-index: -1;      
        
            .bend1 {
                position: absolute;
                width: 149px;
                height: 25px;
                background-color: white;
                border-radius: 50%;
                margin-top: -10%;
            }
        }

    }
}

.c1 {
    -webkit-animation: moveclouds 10s linear infinite;
    -moz-animation: moveclouds 10s linear infinite;
    -o-animation: moveclouds 10s linear infinite;
}

.c2 {
    left: -200px;
    -webkit-animation: moveclouds 10s linear infinite;
    -moz-animation: moveclouds 10s linear infinite;
    -o-animation: moveclouds 10s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

.center {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1500px) {
    .bossImage {
        display: none;
    }
    .socialIcon  {
        height: 50px;
        margin: 100px 10px;
    }
    .facebookIcon  {
        height: 50px;
        background-size:contain;
        background-position:center;
        margin: 100px 10px;
    }
    .faceError {
        display: none;
    }
    .skillzSection {
        display: none;
    }
}