
//Interests
.interestsSection {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    text-align: center;
}

.outboundField {
    width: 500px;
    height: 250px;
    background-color: grey;
    position: relative;

    .outboundLines {
        width: 490px;
        height: 240px;
        background-color: grey;
        border-style: solid;
        border-color: white;
        margin: auto;
    }

    .middleLine {
        height: 100%;
        width: 0px;
        background-color: grey;
        border-style: solid;
        border-color: white;
        border-radius: 1px;
        margin-left: 20px;
        margin: 0 auto;
    }

    .circleMid {
        background-color: grey;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        z-index: -1;
    }

    .halfLeft {
        height: 45px;
        width: 22.5px;
        border-radius: 0 90px 90px 0;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 8%;
    }

    .halfLeftQ {
        height: 90px;
        width: 45px;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 0%;
    }

    .halfLeftQS {
        height: 50px;
        width: 20px;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 0%;
    }

    .leftPen {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 6%;
    }

    .halfRight {
        height: 45px;
        width: 22.5px;
        border-radius: 90px 0 0 90px;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 8%;
    }

    .halfRightQ {
        height: 90px;
        width: 45px;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 0%;
    }

    .halfRightQS {
        height: 50px;
        width: 20px;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 0%;
    }

    .rightPen {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        background-color: grey;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 6%;
    }


    .ball {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
        position: absolute;
        z-index: 1;
    }
}

.animTrue .ball {
    -webkit-animation: move 10s 1 forwards infinite;
    -moz-animation: move 10s 1 forwards infinite;
    -ms-animation: move 10s 1 forwards infinite;
    animation: move 10s 1 forwards infinite;

}
@-webkit-keyframes move {
    10% {
        top: 140px;
        left: 65%; 
    }

    25% {
        top: 55px; 
        left: 65%;
        -webkit-animation-timing-function: ease-out;
    }

    35% {
        top: 60px;
        left: 74%;  
        -webkit-animation-timing-function: ease-out;
    }

    50% {
        top: 160px;
        left: 35%; 
        -webkit-animation-timing-function: ease-out;
    }

    65% {
        top: 100px; 
        left: 10%;
        -webkit-animation-timing-function: ease-out;
    }

    70% {
        top: 140px; 
        left: 0%;
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        top: 140px; 
        left: 0%;
        -webkit-animation-timing-function: ease-out;
    }

}

//TEAM B

.animTrue .animBFW {
    -webkit-animation: moveBFW 10s 1 forwards infinite;
    -oz-animation: moveBFW 10s 1 forwards infinite;
    -ms-animation: moveBFW 10s 1 forwards infinite;
    animation: moveBFW 10s 1 forwards infinite;
}

@-webkit-keyframes moveBFW {
    0% {

    }
    25% {
        top: 45%; left: 30%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    100% {
        top: 35%; left: 10%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.animTrue .animBDC {
    -webkit-animation: moveBDC 10s 1 forwards infinite;
    -moz-animation: moveBDC 10s 1 forwards infinite;
    -ms-animation: moveBDC 10s 1 forwards infinite;
    animation: moveBDC 10s 1 forwards infinite;
}

@-webkit-keyframes moveBDC {
    0% {
    }
    40% {
       top: 50px;
       left: 75%;  
    }
    100% {
        top: 50px;
        left: 75%; 
    }

}

.animTrue .animBMF {
    -webkit-animation: moveBMF 10s 1 forwards infinite;
    -moz-animation: moveBMF 10s 1 forwards infinite;
    -ms-animation: moveBMF 10s 1 forwards infinite;
    animation: moveBMF 10s 1 forwards infinite;
}

@-webkit-keyframes moveBMF {
    0% {
        -webkit-animation-timing-function: ease-in;
    }
    50% {
        top: 160px;
        left: 35%; 
    }
    100% {
        top: 160px;
        left: 30%; 
    }
}

.animTrue .animBAMF {
    -webkit-animation: moveBAMF 10s 1 forwards infinite;
    -moz-animation: moveBAMF 10s 1 forwards infinite;
    -ms-animation: moveBAMF 10s 1 forwards infinite;
    animation: moveBAMF 10s 1 forwards infinite;
}

@-webkit-keyframes moveBAMF {
    0% {
        -webkit-animation-timing-function: ease-in;
    }
    22% {
        top: 28px; 
        left: 60%;
    }
    100% {
        top: 28px; 
        left: 50%;
    }
}

.animTrue .animAGK {
    -webkit-animation: moveAGK 10s 1 forwards infinite;
    -moz-animation: moveAGK 10s 1 forwards infinite;
    -ms-animation: moveAGK 10s 1 forwards infinite;
    animation: moveAGK 10s 1 forwards infinite;
}

@-webkit-keyframes moveAGK {
    0% {
        -webkit-animation-timing-function: ease-in;
    }
    60% {
      top: 100px;
      left: 1%;  
    }
    70% {
        top: 80px;
        left: 1%;
    }
    100% {
        top: 80px;
        left: 1%;
    }
}

//TEAM A

.animTrue .animAAMF {
    -webkit-animation: moveAAMF 10s 1 forwards infinite;
    -moz-animation: moveAAMF 10s 1 forwards infinite;
    -ms-animation: moveAAMF 10s 1 forwards infinite;
    animation: moveAAMF 10s 1 forwards infinite;
}

@-webkit-keyframes moveAAMF {
    0% {
        //top: 160px;  
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        top: 140px;
        left: 55%; 
    }
    100% {
        top: 80px;
        left: 65%; 

    }
}

.animTrue .animADE {
    -webkit-animation: moveADE 10s 1 forwards infinite;
    -moz-animation: moveADE 10s 1 forwards infinite;
    -ms-animation: moveADE 10s 1 forwards infinite;
    animation: moveADE 10s 1 forwards infinite;
}

@-webkit-keyframes moveADE {
    0% {
        //top: 160px;  
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        top: 160px;
        left: 45%; 
    }
    100% {
        top: 160px;
        left: 35%; 

    }
}

.animTrue .animADD {
    -webkit-animation: moveADD 10s 1 forwards infinite;
    -moz-animation: moveADD 10s 1 forwards infinite;
    -ms-animation: moveADD 10s 1 forwards infinite;
    animation: moveADD 10s 1 forwards infinite;
}

@-webkit-keyframes moveADD {
    0% {
        -webkit-animation-timing-function: ease-in;
    }
    35% {
        top: 20px;
        left: 35%;
    }
    100% {
        top: 20px;
        left: 45%; 

    }
}

.animTrue .animADC {
    -webkit-animation: moveADC 10s 1 forwards infinite;
    -moz-animation: moveADC 10s 1 forwards infinite;
    -ms-animation: moveADC 10s 1 forwards infinite;
    animation: moveADC 10s 1 forwards infinite;
}

@-webkit-keyframes moveADC {
    0% {
        -webkit-animation-timing-function: ease-in;
    }
    50% {
        top: 100px;
        left: 15%;   
    }
    60% {
        top: 80px;
        left: 22%;
    }
    100% {
        top: 80px;
        left: 15%;
    }
}
.playerTeamA {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.playerTeamB {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    color: black;
}

.teamAGK {
    top: 100px;
    left: 1%;
}

.teamADC {
    top: 100px;
    left: 15%;
}

.teamADD {
    top: 20px;
    left: 15%;
}

.teamADE {
    top: 180px;
    left: 15%;
}

.teamAMF {
    top: 100px;
    left: 35%;
}

.teamBGK {
    top: 100px;
    left: 94%; 
}

.teamBDC {
    top: 100px;
    left: 84%; 
}

.teamBMF {
    top: 150px;
    left: 65%; 
}

.teamBAMF {
    top: 50px; 
    left: 65%;
}

.teamBFW {
    position: absolute;
    top: 45%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


@font-face {
    font-family:"JustAnotherHandRegular";
    src: url("../assets/ColorsOfAutumn.ttf");
}
@font-face {
    font-family:"hand";
    src: url("../assets/hand.ttf");
}

* {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

.body {
    box-sizing: border-box;
}

.beautyLanding{
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;

    .landingContainer {
        position: fixed;
        width: 250px;
        height: 204px;

        .landingMe {
            background-image:url(/assets/eu.png);
            background-repeat: no-repeat;
            height: 170px;
            width: 50px;
            background-position: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 24px;

            -webkit-animation: blink 6s linear infinite;
            -moz-animation: blink 6s linear infinite;
            -o-animation: blink 6s linear infinite;

        }

        .landingInfo {
            position: absolute;
            display: block;
            font-family: 'Droid Sans', sans-serif;
            font-size: 40px;
            text-align: left;
            left: 85px;
            top: 52px;
        }
    }

    .arrowDownContainer {
        height: 80px;
        width: 110px;
        position: absolute;
        background-color: black;
        text-align: center;
        bottom: 0;
        right: 0;
        border-radius: 20px;
        -webkit-animation: appearArrow 1s linear;
        -moz-animation: appearArrow 1s linear;
        -o-animation: appearArrow 1s linear;
    }

    .arrowDownContainerHidden {
        opacity: 0;
        -webkit-animation: disappearArrow 1s linear;
        -moz-animation: disappearArrow 1s linear;
        -o-animation: disappearArrow 1s linear;
    }

    .arrowLeft {
        position: absolute;
        background: white;
        width: 40px;
        height: 10px;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        left: 20px;
    }

    .arrowRight {
        position: absolute;
        background: white;
        width: 40px;
        height: 10px;
        -webkit-transform: rotate(40deg);
        transform: rotate(-40deg);
        -moz-transform: rotate(40deg);
        left: 45px;
    }

    .fixedMe {
        position: fixed;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@-webkit-keyframes appearArrow {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes disappearArrow {
    0% {opacity: 1;}
    20% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes blink {
    0% {background-image:url(/assets/eu.png);}
    28% {background-image:url(/assets/eu.png);}
    30% {background-image:url(/assets/euBlink.png);}
    32% {background-image:url(/assets/eu.png);}
    100% {background-image:url(/assets/eu.png);}
}
//About me

.bossContainer {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-top: 3%;
    width: 100%;
    float: left;
    margin-bottom: 50px;

    .bossInfo {
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        overflow: hidden;


        .bossDescription {
            float: left;
            width: 33%;
        }

        .bossDesc {
            float: left;
            width: 33%;
            margin-left: 290px;
        }
       
        .imageFixed {
            width: 250px;
            position: absolute;
            left: 50%;
            height: 100%;
            transform: translate(-50%,-50%);
            opacity: 0;
            float: left;
            top: 51%;

            .landingMeFixed {
                float: left;
                margin-left: 25px;
                background-image:url(/assets/eu.png);
                background-repeat: no-repeat;
                height: 100%;
                width: 50px;
                -webkit-animation: blink 6s linear infinite;
                -moz-animation: blink 6s linear infinite;
                -o-animation: blink 6s linear infinite;
            }

            .landingInfoFixed {
                font-family: 'Droid Sans', sans-serif;
                font-size: 40px;
                margin-top: 31px;
                float: left;
                width: 30%;
                margin-left: 10px;
            }
        }

        .landingMeOpa {
            opacity: 1;
        }
    }
}


.fontTitle {
    font-size: 30px;
    border-bottom: 2px solid black;
}

.secondStage {
    position: relative;
    margin-top: 50px;
}

.socialNetworks {
    margin-top: 50px;
    height: auto;
    text-align: center;

    .mega-anchor {
        display: inline-block;
        text-decoration: none;
        color:black;
        height: 129px;
        margin-bottom: 50px;

        .socialIcon {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray; /* IE6-9 */
            height: 50px;
            opacity: 0.7;
            -webkit-opacity: 0.7;
            -moz-opacity: 0.7;
            cursor: pointer;
        }

        .facebookIcon {
            background-image: url('/assets/facebook.png');
            background-repeat: no-repeat;
            background-size: 50%;
            width: 50px;
            display: inline-block;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray; /* IE6-9 */
            height: 50px;
            opacity: 0.7;
            -webkit-opacity: 0.7;
            -moz-opacity: 0.7;
            cursor: default;
        }

        .facebookDisabled {
           animation: disappearAnim 1s linear;
           -webkit-animation-fill-mode: forwards;
           -moz-animation-fill-mode: forwards;
        }

        .descriptionContainer {
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin: 0 15px;

            .socialDescription {
                margin-top: 20px;
                margin-bottom: 20px;
                display: block;
                padding: 10px 20px;
                background: white;
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
            }
        }

        .socialDescriptionBefore {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            padding: 30px 20px;
            width: 100%;
            //height: 100%;
            background: #fff;
            color: grey;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform: translateX(-25%);
        }

        .fixedFace .socialDescriptionBefore {
            -webkit-transform: translateX(-7%);
            -moz-transform: translateX(-7%);
            transform: translateX(-7%);
        }

        .fixedFace .socialDescription {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

@keyframes disappearAnim {
  100% {
    background-image: url('/assets/facebookRIP.png');
    opacity: 1;
  }
}

@keyframes errorAnim {
  40% {
    opacity: 0;
    width: 100px;
    height: 100px;

    }
  100% {
    bottom: 180px;
    opacity: 1;
    width: 100px;
    height: 100px;
  }
}

.faceError{
    margin-left: 60px;
    bottom: 150px;
    opacity: 0;
    position: relative;
    z-index: 1;

    background-image: url('/assets/idontlike.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    cursor: default;
}

.secondStage .socialNetworks .faceErrorAnimation {
    animation: errorAnim 1s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.mega-anchor:hover .socialDescription {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

.mega-anchor:hover .socialIcon {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.mega-anchor:hover .socialDescriptionBefore {
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    transform: translateX(1%);
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    //background-color: grey;
}

.camping {
    position: relative;
    width: 900px;
    top: 90%;
    left: 25%;

    .fire {


    }

    .clouds {
        padding: 100px 0;
        background: #c9dbe9;
        background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
        background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);

        .cloud {
            width: 200px; height: 60px;
            background: #fff;
            
            border-radius: 200px;
            -moz-border-radius: 200px;
            -webkit-border-radius: 200px;
            
            position: relative; 
        }

        .cloud:before, .cloud:after {
            content: '';
            position: absolute; 
            background: #fff;
            width: 100px; height: 80px;
            position: absolute; top: -15px; left: 10px;
            
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -moz-transform: rotate(30deg);
        }

        .cloud:after {
            width: 120px; height: 120px;
            top: -55px; left: auto; right: 15px;
        }
    }

    .tent {
        position: absolute;
        width: 300px;
        height: 300px;
        right: 0;

        .triangle {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid blue;
            //z-index: 1;
        }

        .triangleBack {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid red;
            margin-left: 150px;
        }

        .frontEntrance {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 100px solid black;
            left: 15%;
        }

        .connector1 {
            position: absolute;
            margin-left: 50px;
            width: 150px;
            height: 100px;
            background-color: red;    
            z-index: -1;      
        
            .bend1 {
                position: absolute;
                width: 149px;
                height: 25px;
                background-color: white;
                border-radius: 50%;
                margin-top: -10%;
            }
        }

    }
}

.c1 {
    -webkit-animation: moveclouds 12s linear infinite;
    -moz-animation: moveclouds 12s linear infinite;
    -o-animation: moveclouds 12s linear infinite;
}

.c2 {
    left: -200px;
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

.center {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1200px) {
    .skillzSection {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .bossDescription {
        opacity: 0;
    }
    .bossDesc {
        opacity: 0;
    }
    .skillzSection {
        display: none;
    }
}


//Things
.football {
    margin-top: -23%;
}

.thingsSection {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}

.thingsContainer {
    left: 0;
    width: 100%;
    display: inline-block;
    position: relative;
}

.thingsElement {
    width: 100%;
    height: 500px;
    display: inline-block;
    margin-bottom: 10%;
}

.thingsDesc {
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
}

ins {
  display: inline-block;
  font-style: italic;
  font: normal 26px hand, helvetica, sans-serif;
  margin-left: -.5em;
  margin-right: .3em;
  position: relative;
  top: -.25em;
  text-decoration: none;
  transform: rotate(3deg);
  &:after {
    border-bottom: 1px solid;
    bottom: 0;
    content: '';
    display: block;
    height: .5em;
    position: absolute;
    right: -.5em;
    transform: rotate(-2deg);
    width: 98%;
  }
}

.nospace {
    top: -200px;
}

.or-spacer {
  width:100%; 
  position:relative; 
  display: inline-block;
  margin-top: 100px;
  
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size; 
    position:absolute; 
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;
    
    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

.thing {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 8% auto;

    .cassetteContainer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 300px;
        border-radius: 12px;
        background-color: grey;

        .topContainer {
            position: relative;
            width: 100%;
            height: 30px;
            background-color: white;
            opacity: 0.3;

            .screwLeft {
                margin-left: 2%;
                top: 50%;
                -webkit-transform: translate(0,-50%);
                -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
            }

            .screwRight {
                margin-left: 94%;
                margin-top: -2%;
            }
        }

        .midContainer {
            
            .leftGear {
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: grey;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
                left: 25%;
            }


            .reelBlack {
                position: absolute;
                width: 240px;
                height: 240px;
                border-radius: 50%;
                background-color: black;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
                left: 8%;
            }

            .label {
                position: absolute;
                top: 65%;
                left: 11%;
                width: 78.5%;
                height: 16%;
                background-color: white;
                border-radius: 5px;
                text-indent: 0.25em;
                font: normal 36px JustAnotherHandRegular, helvetica, sans-serif;
                line-height: 140%;
                color: #111;
                text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
                box-shadow: 1px 1px 0px rgba(0,0,0,0.05);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                z-index: 6; 
                opacity: 0.8;
            }

            .topConnector {
                position: absolute;
                width: 180px;
                height: 2px;
                background-color: black;
                left: 22%;
                top: 17%;
                transform: rotate(24deg) translate(40%, 60%);
            }

            .bottomConnector {
                position: absolute;
                width: 180px;
                height: 2px;
                background-color: black;
                left: 22%;
                top: 81%;
                transform: rotate(-24deg) translate(40%, 60%);
            }

            .reelBlackRight {
                position: absolute;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: black;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
                right: 22%;
            }

            .reel-maskRight {
                position: absolute;
                width: 240px;
                height: 240px;
                border-radius: 50%;
                background-color: white;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
                right: 0;
                left: 43.7%;
            }

            .reel-maskLeft {
                position: absolute;
                width: 240px;
                height: 240px;
                border-radius: 50%;
                background-color: white;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
                left: 8%;
            }

            .gearPin1 {
                width: 10px;
                height: 10px;
                background-color: white;
                transform: rotate(39deg) translate(60%);
            }

            .gearPin2 {
                width: 10px;
                height: 10px;
                float: right;
                background-color: white;
                transform: rotate(39deg) translate(-70%, -19%);
            }

            .gearPin3 {
                width: 10px;
                height: 10px;
                background-color: white;
                transform: rotate(39deg) translate(300%, 250%);
            }

            .gearPin4 {
                width: 10px;
                height: 10px;
                background-color: white;
                transform: rotate(39deg) translate(520%, -100%);
            }

            .rightGear {
                position: absolute;
                right: 25%;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: grey;            
                border: 5px solid white;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .bottomContainer {
           position: absolute;
           width: 100%;
           height: 50px;
           background-color: white;
           opacity: 0.3; 
           bottom: 0px;

           .screwBLeft {
                margin-top: 5%;
                margin-left: 1%;
           }

           .screwBRight {
                margin-top: -3%;
                margin-left: 96%;
           }

           .railMiddle {     
                opacity: 0.5;
                border-bottom: 50px solid grey;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                height: 0;
                width: 300px;
           }

           .holeLeft {
               position: relative;
               opacity: 1;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background-color: white; 
               margin-top: 30px;
               float: left;
           }

           .holeRight {
               position: relative;
               opacity: 1;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background-color: white; 
               margin-top: 28px;
               float: right;
           }

           .screwMiddle {
                opacity: 1;
                top: 10px;
           }

           .tapePad {
                position: relative;
                width: 70px;
                height: 20px;
                background-color: black;
                bottom: 0;
                top: 80%;   

                .padContainer {
                    width: 40px;
                    height: 10px;
                    background-color: white;
                    bottom: 0;
                    top: 80%;
                }
           }

        }
    }

}

.screwCross {
    .line1 {
        height: 7px;
        width: 1px;
        background-color: white;
    }

    .line2 {
        height: 1px;
        width: 7px;
        background-color: white;
    }
}

.screw {
    position: relative;
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}

.myBlog {
    background-image: url(/assets/eu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 50px;
    float: left;
    position: relative;
}

.myBlogDes {
    float: left;
    position: relative;
    width: 50px;
    color: white;
    font-size: 20px;
}

#clouds path {
    fill: grey;
    stroke: grey;
}

.clouds {
  background: grey;
}
